/* Global Variables */
:root {
   --color1: grey;
   --color2: #050810;
   --gradient1: linear-gradient(90deg, rgba(5,8,16,1) 44%, rgba(17,45,61,1) 100%)
   --font1: 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color1);
    font-family: var(--font1);
    font-size: 20px;
}

.content {
    max-width: 1950px;
    margin: 59px auto;
    background-color: white;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image-container > .form-image {
    /*position: relative;*/
    height: 100%;
}

.credits {
    color: white;
    position: absolute;
    top: 74%;
    left: 15%
}

.form-container{
    width: 100vh;
}

.form-container {
    background-color: var(--color2);
    color: white;
    /*display: grid;*/
    display: flex;
    flex-wrap: wrap; 
    justify-content: left;
    align-items: center;
}

.form-information {
    text-align: center;
    margin: 15px;
}

.form {
    width: 55%;
    margin: 2.5rem;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10rem;
    row-gap: 3.5rem;
}

#entry-box {
    font-size: 21px;
    width: 250px;
}

/*label {
    display: block;
}*/