/* Global Variables */
:root {
   --color1: grey;
   --font1: 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color1);
    font-family: var(--font1);
    font-size: 20px;
}

.content {
    max-width: 2000px;
    margin: 59px auto;
    background-color: white;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image-container > .form-image {
    /*position: relative;*/
    height: 100%;
}

.credits {
    color: white;
    position: absolute;
    top: 74%;
    left: 15%
}

.form-container {
    background-color: black;
    color: white;
    /*display: grid;*/
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

.form-information {
    text-align: center;
    margin: 15px;
}

.form {
    /*text-align: center;*/
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/*label {
    display: block;
}*/