/* Global Variables */
:root {
   
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #699C93;
}

.content {
    width: 100vw;
    height: 50vh;
    display: flex; 
}

.form-container {
    display: grid;
    align-items: center;
}

.form-information {
    height: 480px;
}

.form {
    height: 480px;
    display: flex
    
}